html, body, #root {
  height: 100%;
  background: rgb(132,206,235);
  background: linear-gradient(0deg, rgba(132,206,235,1) 6%, rgba(193,199,228,1) 65%) fixed;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.going_to_production_true {
	color: green;
}

.termsContainer {
  background-color: aliceblue;
}

.feedbackContainer {
  background-color: aliceblue;
}

.productCard {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .productImg {
       width: 100%;   
    }   
}

.productImg {
  width: 50%;
  height: 500px;
}



.secondaryButtonsDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.red {
	background-color: red;
	color: red;
}
